{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>QIWOGAMES {{title}}</p>
  <a href="allgames" class="btn btn-outline-dark">Liste des jeux Nes</a>
  <a href="/allgames/addgames" class="btn btn-outline-danger">Ajouter un jeux</a>
{% endblock %}
